{
    "production": {
        "account": "optional_your_email_in_production_datadog",
        "apiKey": "ENTER YOUR API KEY",
        "appKey": "ENTER YOUR APP KEY"
    },
    "testing" : {
        "account": "optional_your_email_in_testing_datadog",
        "apiKey": "ENTER YOUR API KEY",
        "appKey": "ENTER YOUR APP KEY"
    }
}